{% extends "global/base.html" %}
{% load i18n %}
{% block content %}
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
rel="stylesheet">
<script crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/static/events/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" />
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/static/events/js/bootstrap-datetimepicker.min.js"></script>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>{% trans "Create Lecture" %}</h1>
    <br/>
    {% comment %} {{ form }} {% endcomment %}
    {% for field in form %}
        {% if field.name == "questions_during_lecture" %}
        <br>  {{ field }} {{ field.label_tag }}  <br>
        {% elif field.name == "questions_after_lecture" %}
        <br>  {{ field }}  {{ field.label_tag }}  <br> <br>
        {% elif field.name == "scheduled_presentation_time" %}
            {{ field }}
        <div class="form-group">
            <label for="id_scheduled_presentation_time">{{field.label}}:</label>
            <div class="input-group date" id="datetimepicker-1">
                <input type="text" id="datetimepicker-1-input" name="scheduled_presentation_time" value="{{field.data}}" class="form-control" placeholder="" title="" id="id_scheduled_presentation_time"/>
                <div class="input-group-addon input-group-append">
                    <div class="input-group-text">
                        <i class="glyphicon glyphicon-time fa fa-clock-o"></i>
                    </div>
                </div>
            </div>
        </div>
        {% elif field.name == "thumbnail" %}
        <br>
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{field.name}}">Thumbnail</label>
            <input type="file" name="thumbnail" class="form-control" accept="image/*" id="id_thumbnail">
        </div>
        {% else %}
            {{ field.label_tag }} {{ field }}
        {% endif %}
    {% endfor %}
    <br/>

    <script>
        document.getElementById('datetimepicker-1-input').value = document.getElementById('id_scheduled_presentation_time').value
        document.getElementById("id_scheduled_presentation_time").style.display = "none";
        document.getElementById('datetimepicker-1-input').value = document.getElementById('datetimepicker-1-input').value.replace("+00:00", "")
        $('#datetimepicker-1').datetimepicker({
            "allowInputToggle": true,
            "showClose": true,
            "showClear": true,
            "showTodayButton": false,
            "format": "YYYY-MM-DD HH:mm",
        });
    </script>

    {% include "events/modules/timeslot_module.html" %}

    {% include "events/modules/additional_questions_module.html" %}

    <a href="{% url 'lecture_overview' event_id %}"><button type="button" class="btn btn-secondary">Cancel</button></a>
    <input type="submit" value="Create" class="btn btn-primary">
</form>
{% endblock %}