{% extends "global/base.html" %}
{% block content %}
{% load i18n %}
<form action="" method="post">
    {% csrf_token %}
    <h1>{% trans "event.lecture.create.titel" %}</h1>
    <br/>
    {{ form }}
    <br/>
    <label class="form-label">{% trans "event.lecture.create.timeslots" %}</label>
    {% for timeslot in timeslots %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="timeslot_{{timeslot.id}}" name="timeslot_{{timeslot.id}}">
            <label class="form-check-label" for="flexCheckDefault">
            {{timeslot.text}}
            </label>
        </div>
    {% endfor %}
    <a href="{% url 'lecture_overview' event_id %}">
        <button type="button" class="btn btn-secondary">{% trans "event.lecture.create.button.cancel" %}</button>
    </a>
    <input type="submit" value="{% trans "event.lecture.create.input.create" %}" class="btn btn-primary">
</form>
{% endblock %}