{% extends "global/base.html" %}
{% load i18n %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h1>{% trans "Edit.heading" %} {{lecture.title}}</h1>
    <br/>
    {% comment %} {{ form }} {% endcomment %}
    {% for field in form %}
        {% if field.name == "questions_during_lecture" %}
        <br>  {{ field }} {{ field.label_tag }}  <br>
        {% elif field.name == "questions_after_lecture" %}
        <br>  {{ field }}  {{ field.label_tag }}  <br> <br>
        {% else %}
            {{ field.label_tag }} {{ field }}
        {% endif %}
    {% endfor %}
    <br/>

    <label class="form-label">{% trans "Presentator is available at these timeslots" %}</label>
    {% for timeslot in timeslots %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" {% if timeslot.checked %}checked="true"{% endif %}  id="timeslot_{{timeslot.id}}" name="timeslot_{{timeslot.id}}">
            <label class="form-check-label" for="flexCheckDefault">
            {{timeslot.text}}
            </label>
        </div>
    {% endfor %}
    <br>


    <a href="{% url 'lecture_overview' lecture.event.id %}"><button type="button" class="btn btn-secondary">{% trans "Cancel" %}</button></a>
    <input type="submit" value="{% trans "Save" %}" class="btn btn-primary">
</form>
{% endblock %}