{% extends "global/base.html" %}
{% block content %}
{% load i18n %}
<form action="" method="post">
    {% csrf_token %}
    <h1>{% trans "event.lecture.edit.titel" %} {{lecture.title}}</h1>
    <br/>
    {{ form }}
    <br/>

    <label class="form-label">{% trans "event.lecture.edit.timeslots" %}</label>
    {% for timeslot in timeslots %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" {% if timeslot.checked %}checked="true"{% endif %}  id="timeslot_{{timeslot.id}}" name="timeslot_{{timeslot.id}}">
            <label class="form-check-label" for="flexCheckDefault">
            {{timeslot.text}}
            </label>
        </div>
    {% endfor %}


    <a href="{% url 'lecture_overview' lecture.event.id %}">
        <button type="button" class="btn btn-secondary">{% trans "event.lecture.edit.button.cancel" %}</button>
    </a>
    <input type="submit" value="{% trans "event.lecture.edit.input.save" %}" class="btn btn-primary">
</form>
{% endblock %}