{% extends "global/base.html" %}
{% block content %}
<h1>Lectures</h1>
<br>

<a href="{% url 'lecture_create' %}"><button type="button" class="btn btn-success">Create</button></a>


<br>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width:10%">#</th>
        <th scope="col" style="width:40%">Lecture</th>
        <th scope="col" style="width:30%">Presentator</th>
        <th scope="col" style="width:10%"></th>
        <th scope="col" style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
        {% for lecture in lectures%}
            <tr>
                <th scope="row">{{lecture.id}}</th>
                <td>{{lecture.title}}</td>
                <td>{{lecture.presentator.last_name}}</td>
                <td><a href="{% url 'lecture_edit' lecture.id%}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                <td><a href="{% url 'lecture_delete' lecture.id%}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
            <br/> 
        {% endfor %}
   
    </tbody>
  </table>



{% endblock %}