{% load i18n %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'user_overview' %}">Event Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if perms.users.view_profile %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'user_overview' %}">{% trans "Users" %}</a>
          </li>
          {% endif %}
          {% if perms.events.view_event %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'event_overview' %}">{% trans "Events" %}</a>
          </li>
          {% endif %}
          {% if perms.events.view_room %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'room_overview' %}">{% trans "Rooms" %}</a>
          </li>
          {% endif %}
          {% if perms.emails.view_email %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'email_overview' %}">{% trans "Emails" %}</a>
            </li>
          {% endif %}
        </ul>

          {% if request_user.is_authenticated %}
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{request_user.username}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'user_edit_profile' %}">{% trans "Edit Profile" %}</a></li>
              <li><a class="dropdown-item" href="{% url 'user_change_password' %}">{% trans "Change Password" %}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'user_logout' %}">{% trans "Logout" %}</a></li>
              {% endif %}
            </ul>
          </div>


      </div>
    </div>
  </nav>