{% extends "global/base.html" %}
{% block content %}
<h1>Send mass emails depending at users</h1>
<br>
<a href="{% url 'email_send_mass_user_select_all' %}"><button type="button" class="btn btn-dark">Select all</button></a>
<a href="{% url 'email_send_mass_user_deselect_all' %}"><button type="button" class="btn btn-dark">Deselect all</button></a>
<br>
<br>
<form action="" method="post">
    {% csrf_token %}
    
    {% for user_selection in user_selections%}
    <div class="form-check">
        <input type="checkbox" id="{{user_selection.id}}" {% if user_selection.selected %}checked="true"{% endif %}  name="{{user_selection.id}}" class="form-check-input">
        <label class="form-check-label" for="{{user_selection.id}}">{{user_selection.name}}</label>
    </div>
    
    {% endfor %}
    <br>
    {{form}}
    <br>
    <input type="submit" value="Send Mails" class="btn btn-primary">
</form> 
{% endblock %}