{% extends "global/base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Rooms" %}</h1>
<br>
<a href="{% url 'room_create' %}"><button type="button" class="btn btn-success">{% trans "Create" %}</button></a>
<br>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width:10%">#</th>
        <th scope="col" style="width:80%">{% trans "Room" %}</th>
        <th scope="col" style="width:5%"></th>
        <th scope="col" style="width:5%"></th>
      </tr>
    </thead>
    <tbody>
        {% for room in rooms%}
            <tr>
                <th scope="row">{{room.id}}</th>
                <td>{{room.name}}</td>
                <td><a href="{% url 'room_edit' room.id%}"><button type="button" class="btn btn-primary">{% trans "Edit" %}</button></a></td>
                <td><a href="{% url 'room_delete' room.id%}"><button type="button" class="btn btn-danger">{% trans "Delete" %}</button></a></td>
            </tr>
        {% endfor %}
   
    </tbody>
  </table>



{% endblock %}