{% extends "global/base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Change Password" %}</h1>
<br/>

{% if wrong_password %}
<div class="alert alert-danger" role="alert">
    {% trans "Your old password is wrong!" %}
</div>
{% endif %}

{% if passwords_differ %}
<div class="alert alert-danger" role="alert">
    {% trans "Your new passwords differ!" %}
</div>
{% endif %}

{% if password_to_short %}
<div class="alert alert-danger" role="alert">
    {% trans "Your password must be at least 8 characters long!" %}
</div>
{% endif %}

{% if success %}
<div class="alert alert-success" role="alert">
    {% trans "Password successfully changed!" %}
</div>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <br/>
    <input type="submit" value="{% trans "Change Password" %}" class="btn btn-primary">
</form>
{% endblock %}