{% extends "global/base.html" %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h1>Create user</h1>
    <br/>
    {% if email_already_exists %}
    <div class="alert alert-warning" role="alert">
        E-Mail already exists!
      </div>
    {% endif %}
    {% comment %} {{ form }} {% endcomment %}
    {% for field in form %}
        {% if field.field.label == "Over 18" %}
            {{ field.label_tag }} <br> {{ field }} <br>
        {% else %}
            {{ field.label_tag }} {{ field }}
        {% endif %}
    {% endfor %}
    <br/>
    <a href="{% url 'user_overview' %}"><button type="button" class="btn btn-secondary">Cancel</button></a>
    <input type="submit" value="Create" class="btn btn-primary">
</form>
{% endblock %}