{% extends "global/base.html" %}
{% load i18n %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h1>{% trans "Edit.heading" %} {% trans "Profile" %}</h1>
    <br/>
    {% comment %} {{ form }} {% endcomment %}
    {% for field in form %}
        {% if field.name == "over_18" %}
        <br> {{ field }} {{ field.label_tag }}  <br> <br>
        {% else %}
            {{ field.label_tag }} {{ field }}
        {% endif %}
    {% endfor %}
    <br/>
    <a href="{% url 'user_overview' %}"><button type="button" class="btn btn-secondary">{% trans "Cancel" %}</button></a>
    <input type="submit" value="Save" class="btn btn-primary">
</form>
{% endblock %}