{% extends "global/base.html" %}
{% block content %}
<h1>Users</h1>
<br>
<a href="{% url 'user_create' %}"><button type="button" class="btn btn-success">Create</button></a>
<a href="{% url 'email_send_mass_user' %}"><button type="button" class="btn btn-warning">Mass Mail Users</button></a>
<br>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width:10%">#</th>
        <th scope="col" style="width:20%">First</th>
        <th scope="col" style="width:20%">Last</th>
        <th scope="col" style="width:20%">E-Mail</th>
        <th scope="col" style="width:20%">Role</th>
        <th scope="col" style="width:5%"></th>
        <th scope="col" style="width:5%"></th>
      </tr>
    </thead>
    <tbody>
        {% for user in users%}
            <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.user_role}}</td>
                
                {% comment %} <td><a href="{% url 'email_send' user.id 0%}"><button type="button" class="btn btn-warning">Mail</button></a></td> {% endcomment %}
                <td><a href="{% url 'user_edit' user.id%}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                <td><a href="{% url 'user_delete' user.id%}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
        {% endfor %}
   
    </tbody>
  </table>
{% endblock %}