{% extends "global/base.html" %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h1>Submit Lecture</h1>
    <p>Welcome! If you already have a user account, please login. Otherwise please register first.</p>
    <br/>
    {{ form }}
    <br/>
    <a href="{% url 'user_register' %}"><button type="button" class="btn btn-secondary">Register</button></a>
    <input type="submit" value="Login" class="btn btn-primary">
</form>
{% if login_failed %}
<br/>
Login failed! Try again.
{% endif %}
{% endblock %}