{% extends "global/base_public.html" %}
{% block content %}
<h1>Submit Lecture</h1>
<p>Welcome! If you already have a user account, please login. Otherwise please register first.</p>
<a href="{% url 'user_register' %}?next=/events/{{event_id}}/lecture/public/create"><button type="button" class="btn btn-secondary">Register</button></a>
<br>
{% if login_failed %}
<div class="alert alert-danger" role="alert">
    Login failed! Try again.
</div>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <br/>
    {{ form }}
    <br/>
    <a href="{% url 'user_reset_password' %}"><button type="button" class="btn btn-warning">Reset Password</button></a>
    <input type="submit" value="Login" class="btn btn-primary">
</form>
{% endblock %}