{% extends "global/base_public.html" %}
{% load i18n %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h1>{% trans "Submit Lecture" %}</h1>
    <br/>
    {% comment %} {{ form }} {% endcomment %}
    {% for field in form %}
        {% if field.name == "questions_during_lecture" %}
        <br>  {{ field }} {{ field.label_tag }}  <br>
        {% elif field.name == "questions_after_lecture" %}
        <br>  {{ field }}  {{ field.label_tag }}  <br> <br>
        {% else %}
            {{ field.label_tag }} {{ field }}
        {% endif %}
    {% endfor %}
    <br/>
    <label class="form-label">{% trans "I am available at these timeslots" %}</label>
    {% for timeslot in timeslots %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="timeslot_{{timeslot.id}}" name="timeslot_{{timeslot.id}}">
            <label class="form-check-label" for="flexCheckDefault">
            {{timeslot.text}}
            </label>
        </div>
    {% endfor %}
    <br>

    {% comment %} Custom fields: {% endcomment %}
    {% for custom_question_answer_pair in custom_question_answer_pairs %}
        {% comment %} Text-Field {% endcomment %}
        {% if custom_question_answer_pair.type == "t" %}
            <label class="form-label">{{custom_question_answer_pair.text}}</label>
            <input type="text" class="form-control" id="custom_question_{{custom_question_answer_pair.id}}" name="custom_question_{{custom_question_answer_pair.id}}" value="{{custom_question_answer_pair.value}}">
        
        {% comment %} Checkbox {% endcomment %}
        {% else %} 
            <br>
            <input class="form-check-input" type="checkbox" value="" {% if custom_question_answer_pair.value == "1" %}checked="true"{% endif %} id="custom_question_{{custom_question_answer_pair.id}}" name="custom_question_{{custom_question_answer_pair.id}}">
            <label class="form-check-label" for="custom_question_{{custom_question_answer_pair.id}}">
                {{custom_question_answer_pair.text}}
            </label>
            <br>
            <br>
        {% endif %}
    {% endfor %}
    <br>

    <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary">
</form>
{% endblock %}