{% extends "global/base_public.html" %}
{% load i18n %}
{% block content %}
<h1>{{event.name}}</h1>


    
{% if event.website != "" %}
    <div class="d-flex justify-content-center">
        <a href={{event.website}}><button type="button" class="btn btn-primary btn-lg">{% trans "Back to website" %}</button></a>
    </div>
{% endif %}
    
<br>
<br>

<div class="container text-center">
    {% for day in days %}
        <h2>{{day.title}}</h2>
        <div class="row">
            {% for room in day.rooms %}
                <div class="col">
                    {% if room.website != "" %}
                        <a href="{{room.website}}"><button type="button" class="btn btn-light btn-lg"><h3>{{room.name}}</h3></button></a>
                    {% else %}
                        <h3>{{room.name}}</h3>
                    {% endif %}
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" style="width:20%">{% trans "Time" %}</th>
                            <th scope="col">{% trans "Title" %}</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for lecture in room.lectures %}
                            <tr>
                                <td>{{lecture.nice_time}} {% trans "timetable.time.appendix" %}</td>
                                <td> 
                                    <div class="d-grid gap-2">                                          
                                        <button type="button" class="btn btn-light width-100" data-bs-toggle="modal" data-bs-target="#infoModal{{lecture.id}}">
                                            <b>{{lecture.title}}</b> 
                                            <br> 
                                            {% if lecture.presentator.first_name != "" %} {{lecture.presentator.first_name|make_list|first}}. {% endif %}
                                             {{lecture.presentator.last_name}} {% if lecture.presentator.profile.company != "" %}({{lecture.presentator.profile.company}}){% endif %}
                                        </button>
                                    </div>
                                </td>
                            
                                {% comment %} Popup {% endcomment %}
                                <div class="modal modal-lg fade" id="infoModal{{lecture.id}}" tabindex="-1" aria-labelledby="infoModal{{lecture.id}}Label" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <div>
                                                <h1 class="modal-title fs-5" id="infoModal{{lecture.id}}Label">{{lecture.title}}</h1> 
                                            </div>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                                        </div>
                                        <div class="modal-body">
                                            {% include "events/lecture/public/lecture_content.html" %}
                                            <br>
                                            <button type="button" class="btn btn-primary w-100 " data-bs-dismiss="modal">{% trans "Close" %}</button> 
                            
                                        </div>
                                        {% comment %} <div class="modal-footer">
                                                
                                        </div> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                
                
                            </tr>
                            {% endfor %}
                         
                        </tbody>
                      </table>
                </div>
            {% endfor %}
        </div>
        <br>
        <hr>
        <br>
    {% endfor %}
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <iframe style="width: 100vw;height: 100vh;position: relative;" src="/static/ems_timetable/index.html?id={{event.id}}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<br>
<br>
{% if event.website != "" %}
    <div class="d-flex justify-content-center">
        <a href={{event.website}}><button type="button" class="btn btn-primary btn-lg">{% trans "Back to website" %}</button></a>
    </div>
    <br>
    <br>
{% endif %}
{% endblock %}