{% load i18n %}
{% if timeslots|length != 0 %}
<label class="form-label">{% trans "I am available at these timeslots:" %}</label>
{% for timeslot in timeslots %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" {% if timeslot.checked %}checked="true"{% endif %} {% if disabled %}disabled="true"{% endif %} id="timeslot_{{timeslot.id}}" name="timeslot_{{timeslot.id}}">
        <label class="form-check-label" for="flexCheckDefault">
        {{timeslot.text}}
        </label>
    </div>
{% endfor %}
<br>
{% endif %}