{% extends "global/base.html" %}
{% block content %}
<h1>Select Event</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width:90%">Event</th>
        <th scope="col" style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
        {% for event in events%}
            <tr>
                <td>{{event.name}}</td>
                <td><a href="{% url 'lecture_public_create' event.id%}"><button type="button" class="btn btn-secondary">Select</button></a></td>
            </tr>
            <br/> 
        {% endfor %}
    </tbody>
  </table>
{% endblock %}