{% extends "global/base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Edit.heading" %} {{event.name}}</h1>
<a href="{% url 'event_timeslot' event.id%}"><button type="button" class="btn btn-outline-secondary">{% trans "Timeslots" %}</button></a>
<a href="{% url 'event_custom_questions' event.id%}"><button type="button" class="btn btn-outline-secondary">{% trans "Custom questions" %}</button></a>
<a href="{% url 'event_field_activation' event.id%}"><button type="button" class="btn btn-outline-secondary">{% trans "Question activation" %}</button></a>

<form action="" method="post">
    {% csrf_token %}
    <br/>
    {{ form }}
    <br/>
    <a href="{% url 'event_overview' %}"><button type="button" class="btn btn-secondary">{% trans "Cancel" %}</button></a>
    <input type="submit" value="{% trans "Save" %}" class="btn btn-primary">
</form>
{% endblock %}