{% extends "global/base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Events" %}</h1>
<br>
<a href="{% url 'event_create' %}"><button type="button" class="btn btn-success">{% trans "Create" %}</button></a>
<a href="{% url 'lecture_export_csv' %}"><button type="button" class="btn btn-outline-secondary">{% trans "Export csv" %}</button></a>

<br>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width:10%">#</th>
        <th scope="col" style="width:40%">{% trans "Event" %}</th>
        <th scope="col" style="width:5%">{% trans "Year" %}</th>
        <th scope="col" style="width:30%">{% trans "Website" %}</th>
        <th scope="col" style="width:5%"></th>
        <th scope="col" style="width:5%"></th>
        <th scope="col" style="width:5%"></th>
      </tr>
    </thead>
    <tbody>
        {% for event in events%}
            <tr>
                <th scope="row">{{event.id}}</th>
                <td>{{event.name}}</td>
                <td>{{event.year}}</td>
                <td><a href="{{event.website}}">{{event.website}}</a></td>
                <td><a href="{% url 'lecture_overview' event.id%}"><button type="button" class="btn btn-outline-secondary">{% trans "Lectures" %}</button></a></td>
                <td class="text-center"><a href="{% url 'event_edit' event.id%}"><button type="button" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i></button></a></td>


                {% comment %} Delete Button {% endcomment %}
                <td class="text-center"><button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{event.id}}"><i class="bi bi-trash"></i></button></td>

                {% comment %} Delete Popup {% endcomment %}
                <div class="modal fade" id="deleteModal{{event.id}}" tabindex="-1" aria-labelledby="deleteModal{{event.id}}Label" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModal{{event.id}}Label">{% trans "Delete.heading" %} {{event.name}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                      </div>
                      <div class="modal-body">
                        {% trans "delete.question.part1" %} {{event.name}} {% trans "delete.question.part2" %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                        <a href="{% url 'event_delete' event.id%}"><button type="button" class="btn btn-danger">{% trans "Delete" %}</button></a>
                      </div>
                    </div>
                  </div>
                </div>

            </tr>
        {% endfor %}
   
    </tbody>
  </table>



{% endblock %}