{% extends "global/base.html" %}
{% block content %}
<h1>Timeslots for {{event_name}}</h1>
<br>

<br>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width:90%">#</th>
        <th scope="col" style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
        {% for timeslot in timeslots%}
            <tr>
                <th scope="row">{{timeslot.text}}</th>
                <td><a href="{% url 'event_timeslot_remove' event_id timeslot.id%}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
        {% endfor %}
   
    </tbody>
  </table>

  <form action="add/" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">New timeslot</label>
      <input type="text" class="form-control" id="new_timeslot" name="new_timeslot">
    </div>
    <a href="{% url 'event_edit' event_id %}"><button type="button" class="btn btn-secondary">Back</button></a>
    <button type="submit" class="btn btn-primary">Add new timeslot</button>
  </form>






{% endblock %}